*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;
  --basic-white: #ffffff;
  --basic-grey: #666666;

  --basic-page-background: #f2f2f2;
  --basic-input-background: #f2f2f2;
  --basic-card-background: #eeeeee;
  --basic-icon: #a9a9a9;
  --basic-logo: #231f20;

  --special-foofer-background: rgba(255, 255, 255, 0.9);
  --special-body-shadow: rgba(0, 1, 1, 0.2);
  --special-delimiter: #e5e5e5;

  --nav-button-fill: #cacaca;

  --blue-background-hover: #669ec0;
  --blue-background-pressed: #5496bd;
  --brown-background-hover: #604e43;
  --brown-background-pressed: #503e33;

  --basic-white-active: rgba(255, 255, 255, 0.3); /* #ffffff */
  --basic-blue-active: rgba(84, 150, 189, 0.3); /* #5496bd*/
  --basic-black-focus: rgba(0, 0, 0, 0.3); /* #000000*/
  --basic-grey-focus: rgba(171, 171, 171, 0.3); /* #ababab*/
  --basic-blue-focus: rgba(84, 150, 189, 0.3); /* #5496bd*/

  --input-background-hover: #ebebeb;
  --input-border-focus: #e5e5e5;
  --logo-pressed: #bdbbbc;
  --filter-button-hover: #ababab;
  --checkbox-disabled: #6a6a6a;
}

/* Global */

.page {
  background-color: var(--basic-page-background);
  width: 100%;
  padding: 0;
  height: 100%;
}

.page-body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  height: 100%;
}

.body-content {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--special-body-shadow);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

/* Special */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.simple-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

/* Header */

.main-header {
  background-color: var(--basic-white);
}

/* Main navigation */

.main-nav {
  background-color: transparent;
  padding: 15px 71px;
  position: relative;
  width: 100%;
}

.main-header-logo {
  top: 0;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 9;
}

.site-nav {
  font-size: 14px;
  display: flex;
  /* justify-content: space-between; */
}

.nav-item {
  width: 227px;
}

.right-nav-item {
  text-align: right;
  margin-left: auto;
}

.right-nav-center {
  margin-right: -146px;
}

.site-nav-item {
  color: inherit;
}

.site-nav-item:hover {
  color: var(--basic-blue);
}

.site-nav-item:focus,
.site-nav-item:active {
  color: var(--basic-black-focus);
}

.site-nav-item.active {
  color: var(--basic-brown);
}

/* Main container */

.container {
  background-color: var(--basic-white);
  position: relative;
  display: grid;
  /* flex-direction: column; */
}

.background-main {
  width: 100%;
  height: 509px;
  background-color: var(--basic-blue);
  background-image: url("../img/background-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  padding-top: 78px;
}

.background-main::after {
  content: "";
  background-image: url("../img/mask-background-main.svg");
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  height: 57px;
}

.banner-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 216px;
}

.banner-main {
  margin: 0 auto;
  display: flex;
}

.banner-block {
  height: 216px;
  margin: 0 auto;
  text-align: center;
}

.banner-block-bottom {
  height: 291px;
  margin: 0 auto;
  text-align: center;
  padding-top: 58px;
  width: 435px;
}

.banner-title {
  width: 470px;
  margin-top: 0;
}

.banner-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--basic-dark);
}

.poster-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  width: 1200px;
}

.poster-item {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
  color: var(--basic-dark);
  align-items: center;
  align-self: center;
  max-width: 297px;
  margin: 0 auto;
  text-align: center;
  min-height: 330px;
  padding-top: 139px;
}

.poster-title {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.poster-house-icon::before {
  content: "";
  background-image: url("../img/icons/house-icon.svg");
  position: absolute;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  max-width: 75px;
  height: 72px;
}

.poster-food-icon::before {
  content: "";
  background-image: url("../img/icons/food-icon.svg");
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  max-width: 75px;
  height: 70px;
}

.poster-souvenir-icon::before {
  content: "";
  background-image: url("../img/icons/souvenir-icon.svg");
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  max-width: 64px;
  height: 77px;
}

/* Advantages */

.advantages-title {
  font-size: 21px;
  line-height: 21px;
  color: initial;
  margin: 0 auto;
  width: 152px;
}

.advantages-item {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
}

.advantages-long {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantages-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.advantages-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.item-text-two {
  order: 1;
}

.advantages-short {
  width: 400px;
  padding: 47px 51px 54px;
  text-align: center;
  min-height: 256px;
  background-color: var(--basic-card-background);
  display: flex;
  flex-direction: column;
  background-color: var(--basic-card-background);
  justify-content: space-between;
}

.advantages-item-text {
  max-width: 400px;
  margin: 0 auto;
  padding: 47px 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.advantages-short p,
.advantages-item-text p {
  margin: 0;
}

/* Booking */

.booking-offer {
  font-size: 30px;
  line-height: 24px;
  margin-top: 0;
}

.booking-offer-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
}

/* Search Form */

.search-form {
  max-width: 568px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  height: 481px;
}

.search-form-title {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  padding: 30px 124px;
}

.search-form-title:hover {
  background-color: var(--brown-background-hover);
}

.search-form-title:active,
.search-form-title:focus {
  background-color: var(--brown-background-pressed);
  color: var(--basic-white-focus);
}

.search-form-container {
  max-width: 568px;
  padding: 55px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
}

.search-form-container > p {
  margin: 0;
  padding: 0;
}

.form-booking-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 458px;
  justify-content: space-between;
  margin-bottom: 36px;
}

.search-form-label {
  font-size: 14px;
  line-height: 26px;
  padding: 6px 0;
}

.date-item,
.quantity-item {
  width: 346px;
  background-color: var(--basic-input-background);
  display: flex;
  justify-content: space-between;
  padding: 6px 13px;
  align-items: center;
}

.quantity-item {
  width: 114px;
}

.date-input,
.number-input {
  background-color: var(--basic-input-background);
  color: var(--basic-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  width: 100%;
}

input::-webkit-input-placeholder {color: var(--basic-black);}
input::-moz-placeholder          {color: var(--basic-black);}/* Firefox 19+ */
input:-moz-placeholder           {color: var(--basic-black);}/* Firefox 18- */
input:-ms-input-placeholder      {color: var(--basic-black);}

.date-input:hover {
  background-color: var(--input-background-hover);
}

.date-input:active,
.date-input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 2px solid var(--input-border-focus);
  box-sizing: border-box;
}

.icon-button {
  color: var(--basic-icon);
  background-color: var(--basic-white);
  border: none;
}

.icon-button:hover {
  color: var(--basic-black);
}

.icon-button:active,
.icon-button:focus {
  color: var(--basic-blue);
  border: none;
}

.calendar-icon,
.minus-icon,
.plus-icon {
  background-color: var(--basic-input-background);
}

button.minus-icon>svg {
  margin-bottom: 6px;
}

button.plus-icon>svg {
  margin-bottom: 3px;
}

button.calendar-icon>svg>path,
button.minus-icon>svg>rect,
button.plus-icon>svg>path {
  fill: var(--basic-icon);
}

button.calendar-icon:hover>svg>path,
button.minus-icon:hover>svg>rect,
button.plus-icon:hover>svg>path {
  fill: var(--basic-black);
}

button.calendar-icon:active>svg>path,
button.minus-icon:active>svg>rect,
button.plus-icon:active>svg>path {
  fill: var(--basic-blue);
}

.minus-icon {
  background-color: var(--basic-input-background);
}

.number-input {
  max-width: 36px;
  text-align: center;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  border: none;
  text-decoration: none;
  display: block;
}

.search-button {
  background-color: var(--basic-blue);
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  width: 458px;
  padding: 16px 181px;
}

.search-hostel-button {
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  padding: 30px 124px;
}

.social-button {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  background-position: center center;
  background-repeat: no-repeat;
}

.show-button {
  background-color: transparent;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  max-width: 137px;
  padding: 6px 35px;
  margin: 0 auto;
}

.more-button {
  background-color: var(--basic-blue);
  max-width: 110px;
  padding: 3px 16px;
  margin-right: 6px;
}

.booking-button {
  background-color: var(--basic-brown);
  max-width: 142px;
  padding: 3px 16px;
}

.rating-button {
  background-color: var(--basic-page-background);
  color: var(--basic-grey);
  max-width: 110px;
  padding: 3px 12px;
  font-weight: 400;
}

.search-button:hover,
.social-button:hover,
.more-button:hover {
  background-color: var(--blue-background-hover);
  cursor: pointer;
}

.search-hostel-button:hover,
.booking-button:hover {
  background-color: var(--brown-background-hover);
  cursor: pointer;
}

.show-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
  cursor: pointer;
}

.search-button:active,
.search-button:focus,
.social-button:active,
.social-button:focus,
.more-button:active,
.more-button:focus {
  background-color: var(--blue-background-pressed);
  color: var(--basic-white-active);
  border: none;
}

.search-hostel-button:active,
.search-hostel-button:focus,
.booking-button:active,
.booking-button:focus {
  background-color: var(--brown-background-pressed);
  color: var(--basic-white-active);
  border: none;
}

.button-disabled {
  cursor: default;
}

.twitter-icon {
  padding: 16px 15px;
}

.facebook-icon {
  padding: 13px 17px;
}

.youtube-icon {
  padding: 16px 13px;
}

section.social-networks>ul>li>a>svg>path {
  fill: var(--basic-white);
}

section.social-networks>ul>li:active>a>svg>path,
section.social-networks>ul>li:focus>a>svg>path {
  fill: var(--basic-white-active);
}

/* Contacts */

.contacts-phone {
  text-decoration: underline;
}

/* Footer */

.main-footer {
  background-color: var(--special-foofer-background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  min-height: 120px;
  text-align: center;
  padding: 23px 0 36px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.social-networks > ul > li:not(:last-child) {
  margin-right: 6px;
}

.contact-footer {
  margin: 0 0 0 58px;
  line-height: 36px;
}

.phone {
  color: inherit;
  padding-top: 9px;
}

.website-by {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px 0 0;
}

.website-by-text {
  padding: 12px 8px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

a.htmlacademy-logo>svg>path {
  fill: var(--basic-logo);
}

a.htmlacademy-logo:hover>svg>path {
  fill: var(--basic-blue);
}

a.htmlacademy-logo:active>svg>path {
  fill: var(--logo-pressed);
}

/* Filter */

.background-filter {
  width: 100%;
  height: 217px;
  background-color: var(--basic-blue);
  background-image: url("../img/background-filter.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  color: var(--basic-white);
}

.filter-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 70px 30px;
  height: 100%;
}

.filter-option {
  margin-top: 26px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 39px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-input-checkbox+label::before:hover,
.filter-input-checkbox+label::before:focus {
  border: 2px solid var(--basic-white);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 21.5px;
  border: 2px solid var(--basic-white);
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before {
  border: 2px solid var(--basic-white);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::after {
  border: 2px solid var(--checkbox-disabled);
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("../img/icons/checkbox-on-check.svg");
  border: none;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.left-block-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.left-block-wrapper > fieldset,
.right-block-wrapper > fieldset {
  padding: 0;
  border: none;
}

.left-block-wrapper > fieldset:not(:last-child) {
  margin-right: 118px;
}

.right-block-wrapper {
  width: 317px;
}

.filter-result {
  font-size: 21px;
  line-height: 26px;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
}

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;
  margin-top: 1px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  height: 34px;
}

.price-controls lable {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  line-height: 21px;
  padding: 0;
  margin-left: 4px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  border-radius: 5px;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

.min-price,
.max-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 50%;
  justify-content: flex-start;
  position: relative;
}

.min-price {
  padding-left: 60px;
}

.max-price {
  padding-left: 52px;
}

.min-price > input {
  width: 24px;
}

.max-price > input {
  width: 46px;
}

.min-price::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 21px;
  top: 4px;
  right: 0;
  background: var(--basic-white);
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 8px;
  padding: 18px 0 0 15px;
  background-color: transparent;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white-active);
}

.range-controls .bar {
  width: 81%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: blueviolet;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 gray;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 248px;
}

.toggle-min:after,
.toggle-max:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 3px;
  border: 2px solid var(--basic-grey-focus);
  border-radius: 50%;
  top: -3px;
  margin-left: -2px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 26px;
}

.filter-sort,
.filter-price,
.filter-type,
.filter-rate {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.filter-price {
  color: var(--basic-blue);
  text-decoration: none;
}

.filter-type,
.filter-rate {
  color: var(--basic-black-focus);
  text-decoration: none;
  border-bottom: 1px dashed var(--basic-blue);
}

.filter-rate:hover {
  color: var(--basic-blue);
  text-decoration: none;
  border-bottom: 1px dashed var(--basic-blue);
}

.filter-rate:active,
.filter-rate:focus {
  color: var(--basic-black);
  text-decoration: none;
  border: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 86px;
  align-items: center;
  padding: 0 72px 2px;
}

.breadcrumbs-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-sort {
  margin: 0 40px 0 46px;
}

.filter-type {
  margin: 0 33px;
}

.hotels-nav {
  display: flex;
  justify-content: space-between;
  width: 34px;
  margin-top: -5px;
}

.hotels-nav > a {
  border: none;
  background-color: var(--basic-white);
  width: 11px;
  height: 10px;
  display: block;
}

.hotels-nav > a > svg > path {
  fill: var(--nav-button-fill);
}

.hotels-nav > a:hover > svg > path {
  fill: var(--basic-black);
}

.hotels-nav > a:active > svg > path,
.hotels-nav > a.active > svg > path {
  fill: var(--basic-blue);
}

/* Hotels */

.hotel-card {
  border-top: 1px solid var(--special-delimiter);
  height: 150px;
  padding: 30px 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-card:last-child {
  border-bottom: 1px solid var(--special-delimiter);
}

.hotel-card img {
  order: 0;
  margin-right: 29px;
}

.hotel-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  color: inherit;
  margin-top: -6px;
}

.hotel-title:hover {
  color: var(--basic-blue);
}

.hotel-title:active {
  color: var(--basic-black-focus);
}

.hotel-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  width: 258px;
  display: grid;
  grid-template-columns: 1fr 142px;
  margin: 7px 0 15px;
}

.button-block {
  width: 258px;
  display: grid;
  grid-template-columns: 1fr 142px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-star {
  display: flex;
  flex-direction: row;
}

.rating-star {
  background-image: url("../img/icons/star-icon.svg");
  width: 18px;
  height: 17px;
  margin-left: 5px;
}

.delimiter {
  width: 100%;
  height: 1px;
  background-color: var(--special-delimiter);
}
